@model ContactModel
@{
    ViewData["Title"] = "Edit Contact";
}
<div class="text-center">
    <h1 class="display-4">Edit Contact</h1>
</div>

<form asp-controller="Contact" asp-action="Edit" method="post">

    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label for="name" class="form-label">Name</label>
        <input type="text" asp-for="Name" class="form-control" placeholder="Enter contact name">
        @Html.ValidationMessageFor(x => x.Name)
    </div>

    <div class="form-group">
        <label for="email" class="form-label">Email</label>
        <input type="text" asp-for="Email" class="form-control" placeholder="Enter contact email">
        @Html.ValidationMessageFor(x => x.Email)
    </div>

    <div class="form-group">
        <label for="mobile" class="form-label">Mobile</label>
        <input type="text" asp-for="PhoneNumber" class="form-control" placeholder="Enter contact mobile">
        @Html.ValidationMessageFor(x => x.PhoneNumber)
    </div>

    <button type="submit" class="btn btn-primary col-12">Save</button>

    <a class="btn btn-secondary col-12" asp-controller="Contact" asp-action="Index" role="button">Back</a>

</form>
