@model LoginModel
@{
    Layout = "_LoggedOutLayout";
    ViewData["Title"] = "Login";
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
        @TempData["ErrorMessage"]
    </div>
}
<form asp-controller="Login" asp-action="Enter" method="post">

    <div class="mb-3">
        <label for="login" class="form-label">Login</label>
        <input type="text" asp-for="Login" class="form-control" id="login">
        @Html.ValidationMessageFor(x => x.Login)
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" asp-for="Password" class="form-control" id="password">
        @Html.ValidationMessageFor(x => x.Password)
    </div>

    <div class="mb-5 ($spacer * .25)">
    <button type="submit" class="btn btn-primary col-12">Enter</button>
    </div>

</form>